@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{margin: 0; padding: 5px;box-sizing: border-box;}
ol,ul{list-style: none;}
a{outline: 0; text-decoration: none; color: #555;}

body{font-family: 'Fredoka One',sans-serif;width: 100%; height: auto;}


.container {display: grid; gap: 10px;
  grid-template-columns: 150px 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "logo a a b b"
  "nav a a b b"
  "nav e e e e"
  "nav f g g g"
  "nav h g g g"
  "nav c c d d"


  ;
}

.item:nth-child(1){grid-area: logo;}
.item:nth-child(1) img{width: 150px;}

.item:nth-child(2){grid-area: nav; font-size: 20px;}
.container .item:nth-child(2)  li a:hover{color: green;}

.item:nth-child(3){grid-area: a;}
.container .item:nth-child(3) img{ width: 100%;}

.item:nth-child(4){grid-area: b;}
.container .item:nth-child(4) img{ width: 100%;}

.item:nth-child(5){grid-area: c;}
.container .item:nth-child(5) img{ width: 100%;}

.item:nth-child(6){grid-area: d;}
.container .item:nth-child(6) img{ width: 100%;}

.item:nth-child(7){grid-area: e;}
.container .item:nth-child(7) img{ width: 100%;}

.item:nth-child(8){grid-area: f;}
.container .item:nth-child(8) img{ width: 100%;}

.item:nth-child(9){grid-area: g;}
.container .item:nth-child(9) img{ width: 100%;}

.item:nth-child(10){grid-area: h;}
.container .item:nth-child(10) img{ width: 100%;}

