/* 전체 화면 스타일 */
#wrap{position: fixed; top: 0;left: 0; width: 100%; height: 100%; min-width: 1400px; min-height: 780px; background-image: url(../img/bg_morning.jpg);background-size: cover;}

/* min-width:1400 - 최소 가로 사이즈 1400px : 1400보다 가로 화면이 작으면 요소 가려짐 */
/* min-height:780 - 최소 세로 사이즈 780px : 780보다 세로 화면이 작으면 요소 가려짐 */

/* 헤더 제원 : 
- 로고 : 가로 90 세로 80
- 위치 : 위에서 30, 옆에서 60
- 글씨 : 사이즈 14 색 #555
- sns : 사이즈 18 색 #555
- sns 링크 :
<i class="fa fa-facebook">
<i class="fa fa-twitter">
<i class="fa fa-envelope"> */

/* 밑에 네비 제원 사진찍어둠 */

/* header style */

header{width: 100%; height: auto; position: fixed; left: 0; top: 0; display: flex;justify-content: space-between; align-items: center; padding: 30px 60px;}

header .logo{width:90px; height: 80px;} 
header .logo img{width: 100%;}

.navs{display: flex; column-gap: 50px;}

.navs .gnb{display:flex; column-gap: 30px;}
.navs .gnb a{font-size:14px; color:#555;}
.navs .sns{display:flex; column-gap: 20px;}
.navs .sns a{font-size:18px; color:#555;}

/* 시간 모드 버튼 */

.modes{bottom: 70px;width: 100%; height: auto; position: fixed; bottom: 70px;  padding: 0 120px; z-index: 10;}

.modes ul{display: flex; width: 100%; justify-content: space-between;}

.modes ul li{width: 24.25%; background: rgba(255, 255, 255, 0.6); padding:10px 30px; transition: all 0.3s;}

.modes ul li:hover{background: rgba(0, 0, 0, 0.6); color: #fff;}
/* .navss .gnb2 a{width:25%; height: 50px; background: rgba(255, 255, 255, 0.6); color: #555; font-size: 12px; display: flex; align-items: center; justify-content: center; column-gap: 30px;} */

/* 배경 구름  */
.pc-cloud1{position: absolute; top: 0; left: -1146px; opacity: 0.8; animation: pc1 110s linear infinite;}
.pc-cloud2{position: absolute; top: 20px; left: 0; opacity: 0.8; animation: pc2 110s linear infinite;}

/* 모바일 구름 */
.mobile-frame .m-cloud1{width: 600px; position: absolute; top: 30px; left: -600px; animation: mc1 110s linear infinite;}
.mobile-frame .m-cloud2{width: 700px; position: absolute; top:20px; left: -600px; animation: mc2 110s linear infinite;}

@keyframes pc1{
  0%{left: -1146px;}
  100%{left: 1950px;}
}

@keyframes pc2{
  0%{left: 0;}
  50%{left: 1950px; opacity: 0;}
  50.1%{left: -1840px; opacity: 0.8;}
  100%{left: 0;}
}

@keyframes mc1{
  0%{left: -600px;}
  100%{left: 544px;}
}

@keyframes mc2{
  0%{left: 0;}
  50%{left: 544px; opacity: 0;}
  50.1%{left: -700px; opacity: 1;}
  100%{left: 0;}
}

/* 슬로건박스 */

.slogan{width: 100%; height: auto; position: fixed; left: 120px;top: 50%; transform: translateY(-50%); }

.slogan p{font-size: 50px; color: #666;} 
.slogan p strong{color: #111}

.slogan em{font-size: 14px; color: #333;}

/* 모바일 프레임 */

.mobile-frame{position: fixed; top:200px; right: -300px; width: 1226px; height: 809px; background-image: url(../img/phone_morning.png);}
.mobile-frame p{width: 544px; height: 308px; position: absolute;left: 136px; top: 100px; overflow: hidden;}

