.logo{font-size:2rem; font-weight:bold;}
.logo i, em{font-style:normal; color:red;}
em{color:yellow;}


/* header style */
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
 
}

header{
  width:100%;
  height:auto;
  background:#6096B4;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

}


  .nav li{
    position: relative;
  }


  .nav li:after{
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: all .4s;
    left:50%;
    transform: translateX(-50%);
  }

  .nav li:hover:after,
  .nav li.active:after{
    width:100%;
  }


ol, ul{
  list-style: none;
}

.nav ul{
  display:flex;
}

  .nav ul li{
    padding:.25rem 1rem;

}

table{
  width:300px;
  height: 300px;
  border-collapse: collapse;
  
}